---
layout: default
---
    header.intro-header(style="background-image: url('/images/home-bg.jpg')")
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    .site-heading
                        h1= site.description
                        hr.small
                        span.subheading= site.tagline
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                each post in getCollection("posts").toJSON()
                    .post-preview
                        a(href='#{post.url}')
                            h2.post-title= post.title
                            h3.post-subtitle= post.description
                        p.post-meta Posted by 
                            a(href="#")= post.author 
                            | &nbsp;on #{post.date.toDateString()} under
                            span.post-tag &nbsp;#{post.tags}
                    hr  
                ul.pager
                    li.next
                        a(href="#") Older Posts &rarr;